body {
background-color: #252525
}

.nav-item {
    font-family: 'Rubik', sans-serif !important;
}

.nav-link {
    color: #FFF
}

header a.nav-link:hover, .navOption:hover  {
    color: #FF8408;
  }
  
.navbar {
    max-height: 7rem;
}

#navbarToggleMenu {
    position: absolute;
    z-index: 100;
    background-color: #252525;
}
.navOption {
    font-size: .9rem;
    font-weight: 500;
    color:#FFF;
    cursor: pointer;
}

.navIcon {
    width: 1.2rem;
}

.carouselDiv {
    left: 30%;
    right: 30%;
    width: 40%;
    top: 40%;
}

#firstCarousel .carousel-indicators {
    bottom: 25%;
}

.carouselDiv p {
    font-weight: 300;
    font-size: .9rem
}

.carouselText, .vidalokaFont  {
    font-family: 'Vidaloka', serif;
}

.rubikFont {
    font-family: 'Rubik', sans-serif !important;
}

.font-black {
    color: #000;
}

.font-gray {
    color: #a8a8a8;
}

.carouselText {
    overflow: hidden;
    text-align: center;
  }

  section p, .vidalokaFont {
      color: #FFF
  }

  .orange-text {
      color: #FF8408;
  }

  .read-more {
    letter-spacing: 2px;
  }
  .read-more:hover {
    color: #FF8408;
    font-weight: 500;
    text-decoration: none;
  }
  .section-img {
      width: inherit
  }
 
  .floating-div {
    background-color: #252525;
    z-index: 100;
    height: 24rem;
}

  .second-section {
    background-image: url('../img/viña@2x.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    background-position: bottom;
  }

  .bkgr-carousel {
      background-color: #D9D9D9;
  }

  .third-section {
      background-image: url('../img/Imagen 2.png');
      background-repeat: no-repeat;
      background-position: top right;
      height: auto;
  }

  .first-wine {
    background-image: url('../img/d2cc2ee2adb0dc311dfc8d80d52454ef@2x.png');
    background-size: cover;
    background-position: 88% 28%;
    z-index: 40;
  }
  
  .second-wine {
    background-image: url('../img/0b7c16068c1aaa77483197a95b8c817b@2x.png');
    background-size: 120% 130%;
    background-position: 50% 35%;
    z-index:30;    
  }

  .third-wine {
    background-image: url('../img/3e2a1ebc3afbe37624d644473689777c@2x.png');
    background-size: cover;
    z-index: 20;
  }

  .fourth-wine {
    background-image: url('../img/50f111fcaf7264a0a4f8d5dd06ab2eb9@2x.png');
    background-size: 135% 120%;
    background-position: 29% 35%;
    z-index: 10;
  }

  .first-wine, .second-wine, .third-wine, .fourth-wine {
    height: 22rem;
    background-repeat: no-repeat;
    -webkit-box-shadow: inset -8px -80px 80px -13px rgba(0,0,0,0.78);
    -moz-box-shadow: inset -8px -80px 80px -13px rgba(0,0,0,0.78);
    box-shadow: inset 0px -110px 160px 10px rgba(0,0,0,0.78)
  }

  .m-wine-row {
    margin-top: -3rem!important
  }

  .fourth-section {
    background-image: url('../img/fondo2.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    height: 20rem;
    background-size: 40% 120%;
    margin-top: -10rem;
  }

.shop-col, .tour-col {
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: inset 200px 35px 300px 56px rgba(37,37,37,1);
    -moz-box-shadow: inset 200px 35px 300px 56px rgba(37,37,37,1);
    box-shadow: inset 200px 35px 300px 56px rgba(37,37,37,1);
    background-position: center;
}

.shop-col {
    background-image: url('../img/tour@2x.png');
}

.tour-col {
    background-image: url('../img/tour-1@2x.png');
}

footer {
    height: auto;
    background-image: url('../img/viña.png');
    background-position-y: 40%;
    background-repeat: no-repeat;
    background-size: cover;
}

footer a.nav-link:hover, footer a.contact-link:hover {
    color: #FF8408;
    text-decoration: none;
}

.circle-social {
    display: inline
}

.circle-social .btn-social:hover {
    background-color: #FF8408;
}

.circle-social .btn-social {
    border-radius: 50%;
    background-color: #252525;
    border: #707070;
}

.circle-social .btn-social img {
    max-width: .9rem;
    height: auto;
}

.textwLine:before, .textwLine:after {
    background-color: #FFF;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 2rem;
  }

  .textwLine:after {
    left: .5rem;
  }
  
  .textwLine:before {
    right: 0.5em;
    /*margin-left: -2rem;*/
  }

  .leftLine:before {
    background-color: #a8a8a8;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 2rem;
    right: 0.5em;
    margin-left: -2rem;
  }

  #secondCarousel  .leftLine:before {
    background-color: #000;
    height: 1px;
  }
  


@media (min-width: 320px) {
    .navbar-expand-sm .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navOption {
        font-size: .7rem
    }
    .navIcon {
        max-width: 1rem;
    }

    .brandName {
       max-width: 6rem;
   }

   /* carouselDiv estilos mobile */

    .first-section {
        height: 30rem;
    }

    .wine-name {
        font-size: 1.2rem
    }

    .wine-text {
        font-size: .8rem;
    }

    .m-wine-row {
        margin-top: 3rem!important
      }

    .wine-img {
        top: 1rem;
        width: 5rem;
    }

    #secondCarousel .carousel-indicators {
        bottom: -10%;
    }
}

@media (min-width: 576px) {
    .brandName {
        max-width: 10rem;
    }

    .first-section {
        height: 25rem;
    }

    .wine-img {
        top: -3rem;
        width: 8rem;
      }

    .wine-text {
        font-size: .9rem;
    }
}




@media (min-width: 768px) { 

    #secondCarousel .carousel-indicators {
        bottom: -20%;
    }

    .first-section {
        height: auto;
    }

    .wine-name {
        font-size: 1.8rem
    }

    .wine-text {
        font-size: 1rem;
    }

    .shop-col, .tour-col {
        height: 20rem;
    }
 }

 @media (min-width: 992px) { 
    .carouselText:before, .carouselText:after {
        background-color: #FFF;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
      }
    
      .carouselText:before {
        right: 0.5em;
        margin-left: -50%;
      }
      
      .carouselText:after {
        left: 0.5em;
        margin-right: -50%;
      }

      .m-wine-row {
        margin-top: -3rem!important
      }

      .fourth-section {
        background-size: 35% 120%;
        margin-top: -15rem;
      }

      .shop-col, .tour-col {
        height: 25rem;
    }

  }

  @media (min-width: 1200px) { 
    .fourth-section {
        background-size: 20% 100%;
        margin-top: -15rem;
      }

   }


   /* extracted from http://ianlunn.github.io/Hover */

   .hvr-icon-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
  }
  .hvr-icon-forward .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-icon-forward:hover .hvr-icon, .hvr-icon-forward:focus .hvr-icon, .hvr-icon-forward:active .hvr-icon {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }